services:
    meshvault:
        build: .
        image: ghcr.io/fidoriel/meshvault:edge
        user: 1000:1000
        volumes:
            - "./3dassets:/meshvault/3dassets"
            - "./local_data:/meshvault/data"
        ports:
            - "127.0.0.1:51100:51100"
        environment:
            - DATA_DIR=/meshvault/data/
